body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #e9ecef;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Cambiado para no centrar verticalmente */
    min-height: 100%; /* Para que el body se expanda en altura */
    text-align: center;
}

h1 {
    color: #343a40;
    margin-bottom: 20px;
    font-size: 2.5em;
}

p {
    color: #6c757d;
    font-size: 1.2em;
    max-width: 600px;
    margin-bottom: 30px;
}

button {
    background-color: white; /* Fondo blanco */
    color: #007bff; /* Color del texto azul */
    border: 2px solid #007bff; /* Borde azul */
    padding: 15px 30px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 25px; /* Bordes redondeados */
    transition: background-color 0.3s ease, color 0.3s ease; /* Transición suave para el color */
}

button:hover {
    background-color: #007bff; /* Fondo azul al pasar el mouse */
    color: white; /* Texto blanco al pasar el mouse */
}


.gallery {
    margin-top: 40px;
    width: 100%;
    max-width: 1200px; /* Limita el tamaño máximo de la galería */
}

.gallery h2 {
    color: #343a40;
    margin-bottom: 20px;
    font-size: 2em;
}

.images {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Diseño en columnas adaptativas */
    gap: 20px; /* Espacio entre las imágenes */
}

.images img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilos para la imagen redonda */
.profile-img {
    width: 150px; /* Ajusta el tamaño de la imagen */
    height: 150px; /* Asegura que la imagen sea cuadrada */
    border-radius: 50%; /* Da forma redonda */
    object-fit: cover; /* Ajusta la imagen para cubrir el área sin distorsionar */
    border: 5px solid #fff; /* Borde blanco para un buen contraste */
    margin-bottom: 20px; /* Espacio debajo de la imagen */
}

.download-button {
    background-color: white;
    color: #007bff;
    border: 2px solid #007bff;
    padding: 10px 20px;
    font-size: 1.1em;
    cursor: pointer;
    border-radius: 25px;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.download-button i {
    font-size: 1.5em;
}

.download-button:hover {
    background-color: #007bff;
    color: white;
}