body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #e9ecef;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100%;
    text-align: center;
}

h1 {
    color: #343a40;
    margin-bottom: 20px;
    font-size: 2.5em;
}

p {
    color: #6c757d;
    font-size: 1.2em;
    max-width: 600px;
    margin-bottom: 30px;
}

button {
    background-color: white;
    color: #007bff;
    border: 2px solid #007bff;
    padding: 15px 30px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 25px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover {
    background-color: #007bff;
    color: white;
}

.gallery {
    margin-top: 40px;
    width: 100%;
    max-width: 1200px; /* Limita el tamaño máximo de la galería */
}

.gallery h2 {
    color: #343a40;
    margin-bottom: 20px;
    font-size: 2em;
}

.images {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Diseño en columnas adaptativas */
    gap: 20px; /* Espacio entre las imágenes */
}

.images img {
    width: 50%; /* Reduzco el tamaño de las imágenes al 50% */
    height: auto;
    border-radius: 10px;
    border: 5px solid #007bff; /* Agrego un marco azul a las imágenes */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease; /* Agrego transición para un efecto de escala */
}

.images img:hover {
    transform: scale(1.05); /* Al pasar el ratón, la imagen crece un poco */
}
